@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'cascadia';
  src: url('../font/CascadiaCodePL.woff2');
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --syntax-background: #282c34;
  --syntax-gutter-light: #30353e;
  --syntax-gutter: #1d2025;
  --syntax-gutter-dark: #181b1f;
  --default-text: #abb2bf;
  --default-text-disabled: #848992;
  --syntax-guide: #cccccc;
  --purple: #c678dd;
  --yellow: #e5c07b;
  --green: #98c379;
  --cyan: #56b6c2;
  --rose: #e06c75;
  --orange: #d19a66;

  --font-code: 'Cascadia', sans-serif;
}

body {
  background-color: var(--syntax-background);
  color: var(--default-text);
}

#app {
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
